@font-face {
    font-family: Avara-master;
    src: url(fonts/Avara-master/fonts/webfonts/Black/Avara-Black.eot);
    src: url(fonts/Avara-master/fonts/webfonts/Black/Avara-Black.eot) format('embedded-opentype'),
        url(fonts/Avara-master/fonts/webfonts/Black/Avara-Black.woff) format('woff')
}
body {
    background-color: moccasin;
}